<?xml version="1.0" encoding="UTF-8"?>
<web-app 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://java.sun.com/xml/ns/javaee" 
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
version="3.0">
  <display-name></display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <context-param>
	  <param-name>log4jConfigLocation</param-name>
	  <param-value>/WEB-INF/classes/config/log4j.xml</param-value>
  </context-param>
  <listener>
	  <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
  </listener>
  
  <servlet>
    <servlet-name>springmvc</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/springmvc.xml</param-value>
    </init-param>
    <!-- 用于跨域请求 -->
        <init-param>
            <param-name>dispatchOptionsRequest</param-name>
            <param-value>true</param-value>
        </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>springmvc</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.js</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.css</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.xml</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.xls</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.xlsx</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.jpg</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.png</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.apk</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>default</servlet-name>
    <url-pattern>*.plist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>default</servlet-name>
    <url-pattern>*.ipa</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>default</servlet-name>
    <url-pattern>*.doc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>default</servlet-name>
    <url-pattern>*.docx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>default</servlet-name>
    <url-pattern>*.ttf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>default</servlet-name>
    <url-pattern>*.woff</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>default</servlet-name>
    <url-pattern>*.woff2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>default</servlet-name>
    <url-pattern>*.gif</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>default</servlet-name>
    <url-pattern>*.ppt</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>default</servlet-name>
    <url-pattern>*.pptx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>default</servlet-name>
    <url-pattern>*.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>default</servlet-name>
    <url-pattern>*.ipa</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>default</servlet-name>
    <url-pattern>*.apk</url-pattern>
  </servlet-mapping>
  
  <filter>  
   		<description>跨域过滤器</description>  
   		<filter-name>CORS</filter-name>    
   		<filter-class>com.thetransactioncompany.cors.CORSFilter</filter-class>    
   		<init-param>    
    		<param-name>cors.allowOrigin</param-name>    
       		<param-value>*</param-value>    
   		</init-param>    
   		<init-param>    
    		<param-name>cors.supportedMethods</param-name>    
       		<param-value>GET, POST, HEAD, PUT, DELETE, OPTIONS</param-value>    
   		</init-param>    
   		<init-param>    
    		<param-name>cors.supportedHeaders</param-name>    
       		<param-value>Accept, Origin, X-Requested-With, Content-Type, Last-Modified</param-value>    
   		</init-param>    
   		<init-param>    
        	<param-name>cors.exposedHeaders</param-name>    
        	<param-value>Set-Cookie</param-value>    
    	</init-param>    
    	<init-param>    
        	<param-name>cors.supportsCredentials</param-name>    
        	<param-value>true</param-value>    
    	</init-param>    
	</filter>  
  
    <filter-mapping>    
    	<filter-name>CORS</filter-name>    
    	<url-pattern>/*</url-pattern>    
	</filter-mapping>  
	
	<!-- 过滤器：为获取request中body内容，需重新缓存 -->
	<filter>  
	    <filter-name>requestFilter</filter-name>  
	    <filter-class>com.common.RequestFilter</filter-class>  
	</filter>  
	      
	<filter-mapping>  
	    <filter-name>requestFilter</filter-name>  
	    <url-pattern>/*</url-pattern>  
	</filter-mapping>  
	<!-- 过滤器：编码 -->
	<filter>
	  <filter-name>encoding</filter-name>
	  <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
	  <init-param>
	   <param-name>encoding</param-name>
	   <param-value>utf-8</param-value>
	  <param-name>forceEncoding</param-name>
	  <param-value>true</param-value>
	  </init-param>
	 </filter>
	<!-- druid配置 -->
	<filter>
    <filter-name>DruidWebStatFilter</filter-name>
    <filter-class>com.alibaba.druid.support.http.WebStatFilter</filter-class>
    <init-param>
      <param-name>exclusions</param-name>
      <param-value>*.js,*mp3,*.swf,*.xls,*.gif,*.jpg,*.png,*.css,*.ico,/druid/*</param-value>
    </init-param>
    <init-param>
      <param-name>principalSessionName</param-name>
      <param-value>xxx.user</param-value>
    </init-param>
    <init-param>
      <param-name>principalCookieName</param-name>
      <param-value>xxx.user</param-value>
    </init-param>
    <init-param>
      <param-name>profileEnable</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>DruidWebStatFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>DruidStatView</servlet-name>
    <servlet-class>com.alibaba.druid.support.http.StatViewServlet</servlet-class>
    <init-param>
      <param-name>resetEnable</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>loginUsername</param-name>
      <param-value>admin</param-value>
    </init-param>
    <init-param>
      <param-name>loginPassword</param-name>
      <param-value>123456</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>DruidStatView</servlet-name>
    <url-pattern>/druid/*</url-pattern>
  </servlet-mapping>
	
</web-app>